system/schemas/execute/src/root.xml

<?xml version="1.0" encoding="utf-8"?>
<grammar
	xmlns="http://relaxng.org/ns/structure/1.0"
	ns="http://fault.io/xml/system/execute"
	xmlns:l="http://fault.io/xml/literal"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
	xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">

	<!--
		# Grammar for representing system invocations.
	!-->

	<define name="execute.xml.id">
		<attribute name="xml:id">
			<data type="ID"/>
		</attribute>
	</define>

	<define name="execute.xml.space">
		<attribute name="xml:space">
			<choice>
				<value>default</value>
				<value>preserve</value>
			</choice>
		</attribute>
	</define>

	<define name="execute.xml.attributes">
		<optional>
			<ref name="execute.xml.id"/>
		</optional>
		<optional>
			<ref name="execute.xml.space"/>
		</optional>
	</define>

	<define name="execute.field">
		<element name="field">
			<ref name="execute.xml.attributes"/>

			<choice>
				<attribute name="literal">
					<data type="string"/>
				</attribute>
				<attribute name="environment">
					<data type="string"/>
				</attribute>
			</choice>
		</element>
	</define>

	<define name="any">
		<element>
			<anyName/>
			<zeroOrMore>
				<choice>
					<attribute><anyName/></attribute>
					<ref name="any"/>
					<text/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="execute.field.construction">
		<oneOrMore>
			<choice>
				<element ns="http://fault.io/xml/literal">
					<anyName/>
					<zeroOrMore>
						<attribute><anyName/></attribute>
					</zeroOrMore>
					<optional>
						<ref name="any"/>
					</optional>
				</element>
				<text/>
			</choice>
		</oneOrMore>
	</define>

	<define name="execute.parameters">
		<element name="parameters">
			<ref name="execute.xml.attributes"/>

			<zeroOrMore>
				<ref name="execute.field"/>
			</zeroOrMore>
		</element>
	</define>

	<define name="execute.executable">
		<!--
			# Executable Specification.
		!-->
		<element name="executable">
			<optional>
				<attribute name="program.name">
					<!--argv[0] contents-->
					<data type="string"/>
				</attribute>
			</optional>

			<choice>
				<attribute name="path">
					<data type="string"/>
				</attribute>
				<ref name="execute.field.construction"/>
			</choice>
		</element>
	</define>

	<define name="execute.environment">
		<!--
			# Environment variable manipulations to perform.
		!-->

		<element name="environment">
			<ref name="execute.xml.attributes"/>

			<optional>
				<attribute name="alteration">
					<choice>
						<value>update</value><!--default-->
						<value>replace</value>
						<value>truncate</value>
						<value>none</value>
					</choice>
				</attribute>
			</optional>

			<zeroOrMore>
				<choice>
					<element name="setting">
						<attribute name="name">
							<data type="string"/>
						</attribute>
						<attribute name="value">
							<data type="string"/>
						</attribute>
					</element>
					<element name="default">
						<attribute name="name">
							<data type="string"/>
						</attribute>
						<attribute name="value">
							<data type="string"/>
						</attribute>
					</element>
					<element name="clear">
						<attribute name="name">
							<data type="string"/>
						</attribute>
					</element>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="execute.frame">
		<!--
			# Primary entry point containing the
			# environment variables, the particular executable,
			# and its parameters.
		!-->

		<element name="frame">
			<ref name="execute.xml.attributes"/>

			<optional>
				<attribute name="type">
					<data type="string"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="abstract">
					<data type="string"/>
				</attribute>
			</optional>

			<optional>
				<ref name="execute.environment"/>
			</optional>

			<ref name="execute.executable"/>
			<ref name="execute.parameters"/>
		</element>
	</define>

	<start>
		<choice>
			<ref name="execute.frame"/>
			<ref name="execute.environment"/>
			<ref name="execute.executable"/>
			<ref name="execute.parameters"/>
		</choice>
	</start>
</grammar>
